{% load static %}
<header class='navbar'>
    <a href="{% url "pets:home" %}">
        <div class="navbar_logo">
            <img src="{% static "imgs/cat.png" %}" alt="Logo">
            <h2>Get A Pet</h2>
        </div>
    </a>
    <ul>
        {% if user.is_authenticated %}
            <li><a href="{% url "pets:home" %}">Home</a></li>
            <li><a href="{% url "pets:my_adoptions" %}">Minhas Adoções</a></li>
            <li><a href="{% url "pets:my_pets" %}">Meus Pets</a></li>
            <li><a href="{% url "pets:logout" %}">Sair</a></li>
        {% else %}
            <li><a href="{% url "pets:home" %}">Home</a></li>
            <li><a href="{% url "pets:login" %}">Login</a></li>
            <li><a href="{% url "pets:register" %}">Cadastrar</a></li>
        {% endif %}
    </ul>

</header>
