:root {
	--blue-accent: #16479d;
	--main-color: #ffc300;

	--footer-bg: #eee;
	--footer-border: #555;

	--white-bg: #f8f8ff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: Helvetica, sans-serif;
}

body {
	background-color: var(--white-bg);
}

h1 {
	color: var(--blue-accent);
	margin-bottom: 1em;
	font-size: 2.1em;
}

.bold {
	font-weight: bold;
	color: var(--blue-accent);
}

.container {
	min-height: 60vh;
	max-width: 1200px;

	margin: 0 auto;
	padding: 1em 2em 3em;
}

/* header */
.navbar {
	display: flex;
	justify-content: space-between;
	padding: 1em 1.5em;

	background-color: var(--main-color);
	color: var(--blue-accent);
	box-shadow: 5px 0 5px rgba(0, 0, 0, 0.3);
}

.navbar_logo {
	display: flex;
	align-items: center;
}

.navbar_logo img {
	width: 40px;
	margin-right: 0.8em;
}

.navbar ul {
	display: flex;
	align-items: center;
	list-style: none;
}

.navbar li,
.navbar a {
	text-decoration: none;
	color: var(--blue-accent);
	font-weight: bold;
	transition: 0.5s;
	cursor: pointer;
	padding: 0.5em 0.8em;
	border-radius: 5px;
}

.navbar li:hover {
	background-color: var(--blue-accent);
	color: #fff;
}

.navbar li:hover > a {
	color: #fff;
}

.footer {
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--footer-bg);
	border-top: 1px solid var(--footer-border);
}

/* home */
.home_header {
	margin-bottom: 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.home_header h1 {
	margin-bottom: 0.3em;
}

.home_header button {
	text-decoration: none;
	color: var(--blue-accent);
	font-weight: bold;
	font-size: 1em;
	transition: 0.5s;
	cursor: pointer;
	padding: 0.5em 0.8em;
	border-radius: 5px;
	border: none;
	background-color: transparent;
}

.home_header button:hover {
	background-color: #ffd400;
	color: #fff;
}

.pet_container {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.pet_card {
	width: 22%;
	margin: 1.5%;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.pet_card_image {
	background-size: cover;
	background-position: center;
	height: 225px;
	width: 100%;
	margin-bottom: 1.2em;
	border-radius: 8px;
	box-shadow: 1px 1px 5px #0005;
}

.pet_card h3 {
	color: #16479d;
	margin-bottom: 1em;
	font-size: 1.6em;
	padding: 8px;
}

.pet_card p {
	margin-bottom: 1em;
}

.pet_card a {
	border-radius: 8px;
	color: #16479d;
	background-color: #ffd400;
	border: none;
	min-width: 100px;
	padding: 15px;
	width: 100%;
	cursor: pointer;
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: none;
}

.pet_card a:hover {
	background-color: #e7c30d;
	color: #fff;
}

.pet_card a.reserved {
	background-color: #faf2ce;
}

.pet_card a.reserved:hover {
	background-color: #ffefa6;
	color: #9c9c9c;
}

.adopted_text {
	font-weight: bold;
	color: #25b456;
	padding: 15px;
}
