{% extends "global/base.html" %}

{% block content %}
<div class='home_header'>
    <div>
        <h1>Adote um pet</h1>
        <p>Clique em saiba mais para ver mais detalhes do pet.</p>
    </div>
    <div>
        <p>
            Buscar por:
            <button>Gatos</button>
            <button>Cachorros</button>
            <button>Coelhos</button>
            <button>Hamsters</button>
            <button>Todos</button>
        </p>
    </div>
</div>
<div class="pet_container">
    {% for pet in pets %}
        <div class='pet_card'>
            <div
                {% comment %} img {% endcomment %}
                class='pet_card_image'
            ></div>
            <h3>{{pet.name}}</h3>
            <p>
                <span class='bold'>Idade: </span>
                {{pet.age}} {{pet.get_age_type_display}}
            </p>
            <a href='#'>Saiba mais</a>
        </div>
    {% endfor %}
</div>
{% endblock content %}
