{% extends "global/base.html" %}
{% load static %}
{% block page_css %}
    <link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock page_css %}

{% block doc_title %}Pets{% endblock doc_title %}

{% block content %}
<div class='home_header'>
    <div>
        <h1>Adote um pet</h1>
        <p>Clique em saiba mais para ver mais detalhes do pet.</p>
    </div>
    <div>
        <p>
            Buscar por:
            <a href='{% url "pets:search" "cat" %}'>Gatos</a>
            <a href='{% url "pets:search" "dog" %}'>Cachorros</a>
            <a href='{% url "pets:search" "rabbit" %}'>Coelhos</a>
            <a href='{% url "pets:search" "hamster" %}'>Hamsters</a>
            <a href='{% url "pets:search" "all" %}'>Todos</a>
        </p>
    </div>
</div>
<div class="pet_container">
    {% for pet, imagem in pets %}
        <div class='pet_card'>
            <div class='pet_card_image'>
                {% if imagem.picture %}
                    <img class='pet_card_image' src="{{imagem.picture.url}}" alt="Pet Image">
                {% endif %}
            </div>
            <h3>{{pet.name}}</h3>
            <p>
                <span class='bold'>Idade: </span>
                {{pet.age}} {{pet.get_age_type_display}}
            </p>
            {% if pet.adopter_id %}
                {% if pet.available %}
                    <a class='reserved' href='{% url "pets:pet_detail" pet.id %}'>Adoção em Andamento</a>
                {% else %}
                    <p class='adopted'>Pet Adotado 😊</p>
                {% endif %}
            {% else %}
                <a href='{% url "pets:pet_detail" pet.id %}'>Saiba mais</a>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock content %}
