{% extends "global/base.html" %}
{% load static %}
{% block page_css %}
<link rel="stylesheet" href="{% static "css/pets_list.css" %}">
{% endblock page_css %}
{% block doc_title %}Meus Pets{% endblock doc_title %}

{% block content %}
<section>
    <div class='petslist_header'>
        <h1>Meus pets cadastrados.</h1>
        <a href='{% url "pets:add_pet" %}'>Cadastrar Pet</a>
    </div>
    <div class='pet_container'>
        {% if pets %}
            {% for pet, image, adopter in pets %}
                <div  class='petlist_row'>
                    <img src="{{image.picture.url}}" alt="{{pet.name}}">
                    <span class='bold'>{{pet.name}}</span>
                    {% if adopter %}
                        {% if pet.available %}
                            <p>
                                Visita solicitada por:
                                <span class='bold'>{{adopter.first_name}}</span>
                                <br></br>
                                Telefone:
                                <span class='bold'> Dono phone TEMP </span>
                            </p>
                        {% else %}
                            <p>
                                Adotado por:
                                <span class='bold'>{{adopter}}</span>
                                <br></br>
                                Telefone:
                                <span class='bold'> AD PHONE </span>
                            </p>
                        {% endif %}
                    {% endif %}
                    {% if pet.available %}
                    <div class='actions'>
                        {% if adopter %}
                            <button class='conclude_btn' >Concluir adoção</button>
                            <button class='refuse_btn'>Recusar adoção</button>
                        {% endif %}
                        <a href='{% url "pets:edit_pet" pet.id %}'>Editar</a>
                        <button>Excluir</button>
                    </div>
                    {% else %}
                        <p>Pet já adotado.</p>
                    {% endif %}
            {% endfor %}
        {% else %}
             <p>Você ainda não cadastrou nenhum pet.</p>
        {% endif %}
    </div>
</section>
{% endblock content %}
