{% extends "global/base.html" %}
{% load static %}
{% block page_css %}
<link rel="stylesheet" href="{% static "css/pets_list.css" %}">
{% endblock page_css %}
{% block doc_title %}Meus Pets{% endblock doc_title %}

{% block content %}
<section>
    <div class='petslist_header'>
        <h1>Meus pets cadastrados.</h1>
        <a href='{% url "pets:add_pet" %}'>Cadastrar Pet</a>
    </div>
    <div class='pet_container'>
        {% if pets %}
            {% for pet, image, adopter, phone in pets %}
                <div  class='petlist_row'>
                    <img src="{{image.picture.url}}" alt="{{pet.name}}">
                    <span class='bold'>{{pet.name}}</span>
                    {% if adopter %}
                        {% if pet.available %}
                            <p>
                                Visita solicitada por:
                                <span class='bold'>{{adopter.first_name}}</span>
                                <br></br>
                                Telefone:
                                <span class='bold'> {{phone}} </span>
                            </p>
                        {% else %}
                            <p>
                                Adotado por:
                                <span class='bold'>{{adopter.first_name}}</span>
                                <br></br>
                                Telefone:
                                <span class='bold'> {{phone}} </span>
                            </p>
                        {% endif %}
                    {% endif %}
                    <div class='actions'>
                        {% if pet.available %}
                            {% if adopter %}
                                <a class='conclude_btn' href='{% url "pets:confirm_adoption" pet.id %}'>Concluir adoção</a>
                                <a class='refuse_btn' href='{% url "pets:refuse_adoption" pet.id %}'>Recusar adoção</a>
                            {% endif %}
                            <a href='{% url "pets:edit_pet" pet.id %}'>Editar</a>
                            <a href='{% url "pets:delete_pet" pet.id%}'>Excluir</a>
                        {% else %}
                            <p>Pet adotado.</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
             <p>Você ainda não cadastrou nenhum pet.</p>
        {% endif %}
    </div>
</section>
{% endblock content %}
