{% extends "global/base.html" %}
{% load static %}
{% block page_css %}
<link rel="stylesheet" href="{% static "css/pet.css" %}">
{% endblock page_css %}
{% block doc_title %}{{pet.name}}{% endblock doc_title %}

{% block content %}
<div class="pet_details_container">
    <div class='petdetails_header'>
        <h1>{{pet.name}}</h1>
        <p>Marque uma visita para conhecer o pet. 😊</p>
    </div>
    <div class='pet_images'>
        {% for imagem in imagens %}
            <img src="{{imagem.picture.url}}" alt="{{pet.name}} Image">
        {% endfor %}
    </div>
    <p>
        <span class='bold'>Idade: </span>
        {{pet.age}} {{pet.get_age_type_display}}&nbsp;
        <span class='bold'>Cor: </span>
        {{pet.get_color_display}}
    </p>

    <div class='action'>
        {% if user.is_authenticated %}
            <a class='btn-act' href='{% url "pets:register" %}'>Solicitar uma visita.</a>
        {% else %}
            <p>
                Você precisa <a href='{% url "pets:register" %}'>criar uma conta</a> para solicitar a visita.
            </p>
        {% endif %}
    </div>
</div>
{% endblock content %}
