{% extends "global/base.html" %}
{% load static %}
{% block page_css %}
    <link rel="stylesheet" href="{% static "css/form.css" %}">
{% endblock page_css %}
{% block doc_title %}Cadastrar{% endblock doc_title %}

{% block content %}
<div class="form_container">
    {% if not is_edit %}
        <h1>Cadastrar</h1>
    {% else %}
        <h1>Atualizar</h1>
    {% endif %}
    <div class="profile_image">
        {% if image %}
            <img src="{{image.url}}" alt="User Imagem">
        {% endif %}
    </div>
    {% include "pet/partials/_user_form.html" %}
</div>
{% endblock content %}
