:root {
	--blue-accent: #16479d;
	--main-color: #228c22;

	--footer-bg: #eee;
	--footer-border: #555;

	--white-bg: #f8f8ff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: Helvetica, sans-serif;
}

body {
	background-color: var(--white-bg);
}
